*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    height: 100vh;

}
/*header*/
header{
    height: 5rem;
    padding: 0.5rem;
    text-align: right;
}

header button{
    height: 2rem;
    padding: 0 0.45rem;
}
/*main*/
main{
    height: calc(100vh - 10rem);
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    padding-top: 0.5rem;
    gap: 5px;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card{
    width: 12rem;
    height: 8rem;
}

.name{
    position: relative;
}

.name > i{
    position: absolute;
    background-color: grey;
    font-size: 10px;
    padding: 5px;
    top: 108px;
}
/*footer*/
footer{
    height: 4rem;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
}

.footer-left{
    height: 4rem;
    width: 10rem;
    display: flex;
    justify-content: center;
}

.mic{
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 10px;
}

.mic > span{
    position: absolute;
    top: 42px;
    font-size: 10px;
}

.webcam > span{
    position: absolute;
    top: 42px;
    font-size: 10px;
}

.webcam{
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 10px;
}

.mic > i{
    font-size: 1.9rem;   
}

.webcam > i{
    font-size: 1.9rem;
}

.up{
    position: relative;
    top: 15px;
    font-size: 15px;
}

.footer-center{
    height: 4rem;
    width: 40rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 10px;
}

.invite > i{
    font-size: 1.9rem;
}

.invite > span{
    position: absolute;
    top: 42px;
    font-size: 10px;
    left: 0;
}

.participants > i{
    font-size: 1.9rem;
}

.participants > span{
    position: absolute;
    top: 42px;
    font-size: 10px;
    left: 62px;
}

.security > i{
    font-size: 1.9rem;
}

.security > span{
    position: absolute;
    top: 42px;
    font-size: 10px;
    left: 167px;
}

.share > i{
    font-size: 1.9rem;
    color: rgb(0, 255, 21);
}

.share > span{
    position: absolute;
    top: 42px;
    font-size: 10px;
    left: 230px;
}

.chat > i{
    font-size: 1.9rem;
}

.chat > span{
    position: absolute;
    top: 42px;
    font-size: 10px;
    left: 385px;
}

.record > i{
    font-size: 1.9rem;
}

.record > span{
    position: absolute;
    top: 42px;
    font-size: 10px;
    left: 461px;
}

.rooms > i{
    font-size: 1.9rem;
}

.rooms > span{
    position: absolute;
    top: 42px;
    font-size: 10px;
    left: 520px;
}

.more > i{
    font-size: 1.9rem;
}

.more > span{
    position: absolute;
    top: 42px;
    font-size: 10px;
    left: 616px;
}

.footer-end{
    height: 4rem;
    width: 8rem;
    background-color: #4a4a4a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-end > p{
    color: red;
}